/* Bootstrap Icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Branding Font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Coiny&family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --bs-warning-color: #ffc107;
}

/* General Styles */
html {
    height: 100%;
}

.branding-font {
    font-family: "DynaPuff", sans-serif;
}

body {
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%, /* Very dark at bottom */ rgba(0, 0, 0, 0.4) 50%, /* Semi-transparent in middle */ rgba(0, 0, 0, 0.9) 100% /* Very dark at top */
    ),
    url("../assets/background-home-desktop.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    color: white;
}

@media (max-width: 768px) {
    body {
        background-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.9) 100%
        ),
        url("../assets/background-home-mobile.webp");
    }
}

.nav-link {
    transition: color 0.5s ease, border-color 0.5s ease;
    border-bottom: 2px solid transparent;
    width: fit-content;
}

.nav-link:hover {
    color: var(--bs-warning-color);
    border-bottom-color: var(--bs-warning-color);
}

.nav-link.active {
    color: var(--bs-warning-color) !important;
    border-bottom: 2px solid var(--bs-warning-color);
    font-weight: bold;
    width: fit-content;
}


nav, footer {
    background-color: #7a1d1b;
}

.nav-logo {
    max-height: 3rem;
}

form[role="search"] {
    width: fit-content;
}

footer {
    padding-left: 0.5rem;
    font-weight: bold
}

.movie-titles-img {
    max-height: 30vh;
}