/* General Styles */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* Branding font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Coiny&family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    height: 100%;
}

.branding-font {
    font-family: "DynaPuff", sans-serif;
}

body {
    background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%, /* Very dark at bottom */ rgba(0, 0, 0, 0.4) 50%, /* Semi-transparent in middle */ rgba(0, 0, 0, 0.9) 100% /* Very dark at top */
    ),
    url("../assets/background-home.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    color: white;
}

nav, footer {
    background-color: #cc3736;
}

.nav-logo {
    max-height: 3rem;
}

footer {
    padding-left: 0.5rem;
}

.movie-titles-img {
    max-height: 30vh;
}