<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerelement}"></head>
<body class="home d-flex flex-column">

<nav th:replace="~{fragments/header :: navbar}"></nav>

<main class="container my-5 flex-grow-1">

    <button type="button" class="btn btn-warning mb-4" data-bs-toggle="modal" data-bs-target="#filterModal">
        <i class="bi bi-funnel"></i> Filters
    </button>

    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form th:action="@{/films}">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="filterModalLabel">Zoek je perfecte film</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body mx-2">

                        <div class="row border rounded mt-3 p-2">
                            <div class="col-12 p-1">
                                <label class="form-label">Film titel bevat:</label>
                                <input type="text" name="movieName" class="form-control" th:value="${param.movieName}">
                            </div>
                        </div>

                        <div class="row border rounded mt-3 p-2">
                            <div class="col-6 p-1">
                                <label class="form-label">Uitgekomen vanaf</label>
                                <input type="number" name="minReleaseYear" class="form-control"
                                       th:value="${param.minReleaseYear}">
                            </div>
                            <div class="col-6 p-1">
                                <label class="form-label">Tot en met</label>
                                <input type="number" name="maxReleaseYear" class="form-control"
                                       th:value="${param.maxReleaseYear}">
                            </div>
                        </div>

                        <div class="row border rounded mt-3 p-2">
                            <div class="col-12 p-1">
                                <label class="form-label">Min. aantal vrije plaatsen</label>
                                <input type="number" name="minFreeSeats" class="form-control"
                                       th:value="${param.minFreeSeats}">
                            </div>
                        </div>

                        <div class="row border rounded mt-3 p-2">
                            <div class="col-12 p-1">
                                <h5>Genre</h5>
                            </div>
                            <div class="col-6 p-1">
                                <div class="form-check">
                                    <input type="radio" name="genre" value="" id="genreAny"
                                           class="form-check-input mt-0"
                                           th:checked="${param.genre == null or param.genre[0] == ''}">
                                    <label class="form-check-label" for="genreAny">Maakt niet uit</label>
                                </div>
                            </div>
                            <div class="col-6 p-1">
                                <div class="form-check">
                                    <input type="radio" name="genre" value="Action" id="genreAction"
                                           class="form-check-input mt-0"
                                           th:checked="${param.genre != null and param.genre[0] == 'Action'}">
                                    <label class="form-check-label" for="genreAction">Actie</label>
                                </div>
                            </div>
                            <div class="col-6 p-1">
                                <div class="form-check">
                                    <input type="radio" name="genre" value="Drama" id="genreDrama"
                                           class="form-check-input mt-0"
                                           th:checked="${param.genre != null and param.genre[0] == 'Drama'}">
                                    <label class="form-check-label" for="genreDrama">Drama</label>
                                </div>
                            </div>
                            <div class="col-6 p-1">
                                <div class="form-check">
                                    <input type="radio" name="genre" value="Sci-Fi" id="genreSciFi"
                                           class="form-check-input mt-0"
                                           th:checked="${param.genre != null and param.genre[0] == 'Sci-Fi'}">
                                    <label class="form-check-label" for="genreSciFi">Sci-Fi</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Zoek</button>
                    </div>

                </div>
            </form>
        </div>
    </div>


    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-3">
        <div th:each="movie : ${movies}" class="col">
            <div class="card h-100 movie-card shadow">
                <img th:src="${movie.posterUrl}" class="card-img-top movie-card-img" th:alt="${movie.movieName}">
                <div class="card-body p-2 d-flex flex-column">
                    <div class="d-flex justify-content-between align-items-start mb-1">
                        <h5 class="card-title branding-font text-warning mb-0" th:text="${movie.movieName}">Film
                            Naam</h5>
                        <span class="badge bg-secondary" th:text="${movie.releaseYear}">Jaar</span>
                    </div>
                    <small class="card-subtitle mb-2 text-info d-block" th:text="${movie.genre}">Genre</small>

                    <p class="card-text flex-grow-1 small" th:text="${movie.movieDescription}">Beschrijving</p>

                    <hr class="border-warning my-2">
                    <div class="movie-info-bottom mb-2 small">
                        <div class="d-flex justify-content-between flex-wrap">
                            <span><i class="bi bi-door-open"></i> <strong
                                    th:text="${movie.hallName}">Zaal</strong></span>
                            <span><i class="bi bi-people"></i> <strong
                                    th:text="${movie.numberOfFreeSeats}">Zetels</strong></span>
                        </div>
                    </div>
                    <div class="mt-auto">
                        <a th:href="${movie.trailerUrl}" target="_blank" class="btn btn-outline-warning btn-sm w-100">
                            <i class="bi bi-play-circle"> TRAILER</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>